.card__text {
    margin-bottom: 2rem;
    text-align: center;
}

.text-dark {
    font-size: 2rem;
    font-weight: 700;
    color: $color-dark-blue;
}
.text-light {
    font-size: 1.5rem;
    font-weight: 400;
    color: $color-blue-gray;
}
